.app {
  text-align: center;
}

.app-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.search {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.search h2 {
  grid-column: 1 / 4;
}