.app {
  background-color: white;
  color: #6E7A79;
  padding: 1rem;
  text-align: center;
}

.app-header {
  align-items: center;
  color: #3BA8EF;
  display: flex;
  font-size: 2vmin;
}

.info {
  display: flex;
  flex-direction: column;
}

.search {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.search h2 {
  grid-column: 1 / 4;
}